<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" "text/html"charset="UTF-8">
	<title>Mis Gustos</title>
	<LINK REL=StyleSheet HREF="Estilo.css" TYPE="text/css" MEDIA=screen>

</head>
<STYLE>A {text-decoration: none;} </STYLE>
<body >
		<nav>
				<img src="umf.png" width="50px">
				<font size=5><a class="Hover" href="C:\Users\lenovo\Documents\SENA\Diego/index.html">Sobre Mi</a></font>
				<font size=5><a class="Hover" href="pagina/Gustos.html">Mis Gustos</a></font>
				<font size=5><a class="Hover" href="C:\Users\lenovo\Documents\SENA\Diego/Contacto.html">Contactame</a></font>
				<font size=5><a class="Hover" href="C:\Users\lenovo\Documents\SENA\Diego\Hotel Trivago/Trivago.html">Hotel</a></font>
		</nav>
	<center>
		<h1>
			FESTIVAL MUSIC
		</h1>
	</center>
		<div class="container">
		<h2>
				Aqui encontraras la musica mas tocada en diversos festivales alrededor del mundo como lo es "Tomorrowland","Ultra Music Festival",
				"Defqon 1", "Electric Zoo", entre otros.
		</h2>
		<center>
				<img src="maxresdefault.jpg" width="600px" height="400px">
				<img src="ultramiami.jpg" width="600px" height="400px">
				
		<h1>
				Oficial Videoclip Crownd Control - Dimitri Vegas & Like Mike Vs W&W
		</h1>
			<table border="0" align"center" width="60%">
				<tr>
				<video src="Dimitri Vegas & Like Mike vs W&W - Crowd Control (Official Music Video).mp4" controls  width="400px"></video>
				</tr>
				<tr>
					<td>
						Already proven to be a party starter on the mainstages, big room duos Dimitri Vegas & Like Mike and W&W have finally released their highly anticipated collaboration ‘Crowd Control’.
						W&W have become renowned for their epic collaborations, with their track ‘Chakra’ alongside Israeli Psy-Trance duo Vini Vici recently reaching #1 on Beatport’s Psy-Trance chart. 
						Whilst similarly, the Belgian brothers are still riding high on the success of their more mainstream collaboration with David Guetta entitled ‘Complicated’.
					</td>
				</tr>
			</table>
		</center>
		<h2>
				En la escena del EDM se ha destacado un set sin igual que se llevo a cabo en Tomorrowland 2012 por el Dj/Productor <a class="subrayado" href="https://es.wikipedia.org/wiki/Hardwell">Hardwell.</a> 
				¿Quieres disfrutar de este set? solo presiona <a class="subrayado" href="https://www.youtube.com/watch?v=c5bgJSdH544">aqui.</a>
			</h2>
		</div>	
	</center>	 
	<H3>
		DEFQON 1 FESTIVAL <img src="Defqon1.png" width="4%" height="2%" >
	</H3>
	<center>
		<img src="defqon1.jpg" width="300px" height="200px">
		<img src="defqon1_1.jpg" width="300px" height="200px">
		<img src="defqon1_2.jpg" width="300px" height="200px">
		<img src="defqon1_3.jpg" width="300px" height="200px">
	</center>
	<div class="aling">
		<p>
			Muchos artistas hardstyle prominentes realizan allí anualmente. Los actos se realizan en hasta siete etapas en Australia y 14 etapas en los Países Bajos. En 2015, Q-dance debutó en una 
			nueva etapa en Defqon.1 Festival Australia, la etapa Verde. A diferencia de su festival principal en Holanda, esta fue la primera vez que se presentó una etapa de trance psicodélico en 
			el Festival. Cuenta con artistas del trance psicodélico bien establecidos como Ranji , Coming Soon !!! y Skazi . Defqon.1 Festival no solo invita a artistas consagrados a presentarse y 
			actuar, sino que también invita a artistas prometedores a presentarse en un escenario de menor escala, a saber, la etapa Up & Coming en los Países Bajos y la etapa Talent en Australia.
			
		</p>
	</div>
	<center>
		<a href="https://www.youtube.com/watch?v=Y65k_dtjS94&t=1395s"><img src="youtuberojo.png" width="10%" height="7%"></a>
	</center>
</body>
</html>